In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [104]:
train_data = pd.read_excel("data/cases_2021_train_processed.xlsx")
test_data = pd.read_excel("data/cases_2021_test_processed_unlabelled.xlsx")

In [96]:
cols = ['age', 'Confirmed', 'Deaths', 'Recovered', 'Active']

In [105]:
train_data[cols] = train_data[cols].apply(pd.to_numeric, downcast='integer', axis=1)
test_data[cols] = test_data[cols].apply(pd.to_numeric, downcast='integer', axis=1)

In [106]:
outcome_groups = {'deceased': 0, 'hospitalized': 1,'nonhospitalized': 2}
sex = {'male': 0, 'female': 1}

In [107]:
train_data['outcome_group'] = train_data['outcome_group'].map(outcome_groups)
train_data['sex'] = train_data['sex'].map(sex)
train_data['province'] = train_data['province'].fillna('Philippines')
train_data['chronic_disease_binary'] = train_data['chronic_disease_binary'].astype(int)

In [108]:
test_data['sex'] = test_data['sex'].map(sex)
test_data['province'] = test_data['province'].fillna('Philippines')
test_data['chronic_disease_binary'] = test_data['chronic_disease_binary'].astype(int)

In [103]:
train_data['outcome_group'].value_counts()

1    13241
2     2974
0      997
Name: outcome_group, dtype: int64

In [109]:
test_data

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,59,1,Philippines,Philippines,14.595800,120.977200,2020-03-31,0,747288,13297,603746,130245,681.949809,1.779368
1,79,0,Tamil Nadu,India,11.139270,79.084280,2020-05-24,0,886673,12719,858075,15879,1139.078325,1.434463
2,44,1,Tamil Nadu,India,13.083620,80.282520,2020-05-19,0,886673,12719,858075,15879,1139.078325,1.434463
3,36,0,Tamil Nadu,India,13.124620,79.918150,2020-04-30,0,886673,12719,858075,15879,1139.078325,1.434463
4,52,0,Bihar,India,25.312580,86.488880,2020-04-24,0,265527,1576,262371,1580,212.762145,0.593537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4299,66,0,Karnataka,India,13.000000,77.583330,2020-04-09,0,997004,12567,956170,28267,1475.672533,1.260476
4300,66,0,Philippines,Philippines,14.595800,120.977200,2020-03-31,0,747288,13297,603746,130245,681.949809,1.779368
4301,53,1,Tamil Nadu,India,12.682240,79.980080,2020-05-12,0,886673,12719,858075,15879,1139.078325,1.434463
4302,25,0,Tamil Nadu,India,13.160185,80.297689,2020-05-27,0,886673,12719,858075,15879,1139.078325,1.434463
4303,34,0,Karnataka,India,13.335010,74.749360,2020-05-27,0,997004,12567,956170,28267,1475.672533,1.260476